<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>{% block title %}Attent{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.css">
    <link rel="stylesheet" href="{% static "main.css" %}">
    {% block extra_css %}{% endblock %}
</head>

<body>
<div id="header">
    {% block header %}{% endblock %}
</div>

<div class="ui grid">
    <div class="three wide column">
        <div class="ui secondary vertical pointing menu">
            {% block sidebar %}{% endblock %}
        </div>
    </div>

    <div class="twelve wide stretched column">
        <div class="ui segment">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

{% block js %}
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>